

p{
  	font-family: Arial;
	font-size: 50px;
	
	
}


div {
  border:  1px solid white;
	background-color: Blue;
	float: right;
	margin-right: 10px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
