

p{
  	font-family: Arial;
	font-size: 50px;
	color: #FFFFFF;
	text-align: center; 
	
}


div {
  border:  1px solid white;
	background-color: white;
	float: right;
	margin-right: 10px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
